.relative {
    position: relative;
  }
  
  .input-wrapper {
    width: 30rem;
  }
  
  .base-input {
    height: 50rem;
    width: 100%;
    cursor: default;
    border-radius: 10%;
    border: 1px solid #fa6d0e;
    background-color: #1a202c;
    padding: 0.875rem;
    color: #cbd5e0;
    transition: border-color 1s;
    outline: none;
  }
  
  .base-input:focus {
    border-color: #06ff02;
  }
  
  .base-input::placeholder {
    color: #718096;
    user-select: none;
  }
  
  .overlay-input {
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    height: 50rem;
    width: 100%;
    cursor: default;
    border-radius: 10%;
    background-color: transparent;
    padding: 0.875rem;
    opacity: 0;
    transition: opacity 1s;
  }



.error {
    color: white;
    background-color: red;
  }