@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .heroButton {
        @apply px-6 py-2 border border-[#242424] 
        rounded-full uppercase text-xs tracking-widest text-gray-500 
        transition-all hover:border-[#F7AB0A]/40 hover:text-[#F7AB0A]/40

    }

    .contactInput {
        @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424]
        text-gray-500 placeholder-gray-500 transition-all focus:border-[#F7AB0A]/40
        focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40
    }

        /* For Webkit-based browsers (Chrome, Safari and Opera) */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    /* For IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .pulsingcircle {
        --border-size: 6px;
        --border-angle: 0turn;
        border-radius: 20%;
        width: 50vmin;
        height: 50vmin;
        background: conic-gradient(
            from var(--border-angle),
            rgb(36,36,36),
            rgb(238, 238, 238) 50%,
            rgb(36,36,36)
          ),
          conic-gradient(from var(--border-angle), transparent 10%, rgb(107 114 128), #F7AB0A);
        background-size: calc(100% - (var(--border-size) * 2))
            calc(100% - (var(--border-size) * 2)),
          cover;
        background-position: center center;
        background-repeat: no-repeat;
      
        animation: bg-spin 8s linear infinite;
        @keyframes bg-spin {
          to {
            --border-angle: 1turn;
          }
        }
      
        &:hover {
          animation-direction: reverse;
        }
      }
      
      .pulsingcircle {
        position:relative;
        width: 50vmin;
        height: 50vmin;
        border-radius: 20%;
        --border-size: 10px;
        --border-angle: 0turn;
        border: 4px solid transparent;

        background: conic-gradient(
            from var(--border-angle),
            rgb(36,36,36),
            rgb(98, 89, 89) 50%,
            rgb(36,36,36)
          ),
          conic-gradient(from var(--border-angle), transparent 10%, rgb(107 114 128), #15ff00);
        background-clip: padding-box;
        background-position: center center;
        background-repeat: no-repeat;
        /* box-shadow:  inset; */
        padding:10px;
       
      }

      .pulsingcircle::after{
        /* position: absolute;
        top: -10px; bottom: -10px;
        left: -10px; right: -10px;
        border-radius: 50%;
        background: conic-gradient(
            from var(--border-angle),
            rgb(36,36,36),
            rgb(181, 51, 51) 50%,
            rgb(36,36,36)
          ),
        conic-gradient(from var(--border-angle), transparent 10%, rgb(107 114 128), #F7AB0A);

        z-index: 1;
        content: " ";
      
        animation: bg-spin 8s linear infinite;
        @keyframes bg-spin {
          to {
            --border-angle: 1turn;
          }
        }
      
        &:hover {
          animation-direction: reverse;
        } */
        position:absolute;
        width: 20vmin;
        height: 20vmin;
        top: -30px; bottom: -30px;
        left: -30px; right: -30px;
        /* background-image: conic-gradient(
            from var(--border-angle),
            #213,
            #112 50%,
            #213
          ),
          conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03); */
        background-position: center center;
        background-repeat: no-repeat;
        border: 4px solid transparent;
        border-radius: 40%;

        
        z-index: 1;
        content:" ";
      
        animation: bg-spin 3s linear infinite;
        @keyframes bg-spin {
          to {
            --border-angle: 1turn;
          }
        }
      }
      
      @property --border-angle {
        syntax: "<angle>";
        inherits: true;
        initial-value: 0turn;
      }

      .box {
        --border-size: 10px;
        --border-angle: 0turn;
        width: 60vmin;
        height: 50vmin;
        background-image: conic-gradient(
            from var(--border-angle),
            rgba(34, 17, 51, 0),
            #112 50%,
            rgba(34, 17, 51, 0)
          ),
          conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
        background-size: calc(100% - (var(--border-size) * 2))
            calc(100% - (var(--border-size) * 2)),
          cover;
        background-position: center center;
        background-repeat: no-repeat;
      
        animation: bg-spin 3s linear infinite;
        @keyframes bg-spin {
          to {
            --border-angle: 1turn;
          }
        }
      
        &:hover {
          animation-play-state: paused;
        }
      }
      
      @property --border-angle {
        syntax: "<angle>";
        inherits: true;
        initial-value: 0turn;
      }


    .test {
        --border-angle: 0turn;
        --border-size:10px;
        width: 50vmin;
        height: 50vmin;
        position: relative;
        /* margin: 5px; */
        /* display: inline-block; */
        font-size: 30px;
        border: 4px solid white;
      }
      
      .test::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        padding: 10px; /* control the border thickness */
        background-image: conic-gradient(
            from var(--border-angle),
            rgba(34, 17, 51, 0),
            rgb(0, 0, 207) 50%,
            rgba(34, 17, 51, 0)
          ),
          conic-gradient(from var(--border-angle), transparent 5%, rgb(192, 192, 192), #f03);
        background-size: calc(100% - (var(--border-size) * 2))
            calc(100% - (var(--border-size) * 2)),
          cover;
        -webkit-mask: 
          linear-gradient(#fff 0 0) content-box, 
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude;
        pointer-events: none;

        --border-angle: 0turn;

        animation: bg-spin 3s linear infinite;
        @keyframes bg-spin {
          to {
            --border-angle: 1turn;
          }
        }

        
      }

      @property --border-angle {
        syntax: "<angle>";
        inherits: true;
        initial-value: 0turn;
      }


      .circle_large {
        position: relative;
        --border-angle: 1turn;
        width: 50vmin;
        height: 50vmin;
        /* padding: 20px 30px; */
        /* display: inline-block; */
        /* font-size: 30px; */
      }
      
      .circle_large::before {

        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        padding: 6px; /* control the border thickness */
        background-image: conic-gradient(
            rgb(239, 239, 239) 80%,
            rgb(239, 239, 239) 50%,
            rgb(33, 222, 255) 98%,
            rgb(239, 239, 239)

          );
        -webkit-mask: 
          linear-gradient(#fff 0 0) content-box, 
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude;
        pointer-events: none;


        animation: bg-spin 5s linear infinite;
        @keyframes bg-spin {
          to {
            --border-angle: 0turn;
          }
        }
      }

      @property --border-angle {
        syntax: "<angle>";
        inherits: true;
        initial-value: 1 turn;
      }

      .circle_small {
        position: relative;
        --border-angle-small: 1turn;
        width: 50vmin;
        height: 50vmin;
        /* padding: 20px 30px; */
        /* display: inline-block; */
        /* font-size: 30px; */
      }
      
      .circle_small::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        padding: 6px; /* control the border thickness */
        background-image: conic-gradient(
            from var(--border-angle-small),
            rgb(239, 239, 239) 18%,
            rgb(249, 9, 241) 20%,
            rgb(239, 239, 239) 45%,
            rgb(239, 239, 239)

          );
        -webkit-mask: 
          linear-gradient(#fff 0 0) content-box, 
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude;
        pointer-events: none;



        animation: bg-spin 5s linear infinite;
        @keyframes bg-spin {
          to {
            --border-angle-small: 0turn;
          }
        }
      }

      @property --border-angle-small {
        syntax: "<angle>";
        inherits: true;
        initial-value: 1turn;
      }

      

      
      
      
}


