@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .heroButton {
        @apply px-3 sm:px-8 m-1 py-2 border border-gray-300 
        rounded-full uppercase text-xs tracking-widest text-gray-500 
        transition-all hover:border-[#F7AB0A]/80 hover:text-[#F7AB0A]

    }

    .contactInput {
        @apply outline-none bg-slate-400/10 rounded-sm border-b px-6 py-4 border-[#242424]
        text-gray-300 placeholder-gray-300 transition-all focus:border-[#F7AB0A]/40
        focus:text-[#F7AB0A]/40 hover:border-[#F7AB0A]/40
    }

        /* For Webkit-based browsers (Chrome, Safari and Opera) */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    /* For IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    .background {
        background: radial-gradient(circle at -4% -12.9%, rgb(74, 98, 110) 0.3%, rgb(30, 33, 48) 90.2%);
    }

    .background-layer-light {
      /* background-color: #0707c000; */
      /* background-image: radial-gradient(circle farthest-corner at var(--x) var(--y), rgba(74, 98, 110, 0.95) 0.3%, rgba(34, 34, 35, 0.95) 90.2%), repeating-radial-gradient( circle at 0 0, transparent 0, #1c1c1c 15px ), repeating-linear-gradient( #58585855, #595858 ); */
      /* background: radial-gradient(circle farthest-corner at var(--x) var(--y), rgb(74, 98, 110) 0.3%, rgb(30, 33, 48) 90.2%), repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5e6 8px ), repeating-linear-gradient( #b4b3b355, #b4b3b3 ); */
      
      /* background-color: #0707c000; */
      opacity: 1;
      background-image: radial-gradient(circle farthest-corner at var(--x) var(--y), rgba(204, 204, 205, 0.96) 0.3%, rgba(238, 238, 238, 0.95) 90.2%), repeating-radial-gradient( circle at 0 0, transparent 0, #1c1c1c 15px ), repeating-linear-gradient( #58585855, #595858 );
      

      /* background-color: #e5e5f7;
      opacity: 1;
      background-image: radial-gradient(#bdbdbd 1px, #f4f4f4 1px);
      background-size: 15px 15px; */
      

      /* background-color: #e5e5f7;
      opacity: 1;
      background-image: radial-gradient(#adadad 1px, #e5e5e5 1px);
      background-size: 15px 15px; */

    }



    .background-layer-dark {
      background-color: #0707c000;
      opacity: 1;
      background-image: radial-gradient(circle farthest-corner at var(--x) var(--y), rgba(74, 98, 110, 0.95) 0.3%, rgba(34, 34, 35, 0.95) 90.2%), repeating-radial-gradient( circle at 0 0, transparent 0, #1c1c1c 15px ), repeating-linear-gradient( #58585855, #595858 );
      /* background: radial-gradient(circle farthest-corner at var(--x) var(--y), rgb(74, 98, 110) 0.3%, rgb(30, 33, 48) 90.2%), repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5e6 8px ), repeating-linear-gradient( #b4b3b355, #b4b3b3 ); */
      
      /* background-color: #e5e5f7;
      opacity: 1;
      background-image: radial-gradient(#000000 1px, #272d31 1px);
      background-size: 15px 15px; */
      

      /* background-color: #e5e5f7;
      opacity: 1;
      background-image: radial-gradient(#adadad 1px, #e5e5e5 1px);
      background-size: 15px 15px; */

      

      
      
      animation: colorChange 30s infinite alternate;
    }

    @keyframes colorChange {
      0% {
        --x:0%;
        --y:0%;
      }
      25% {
        --x:10%;
        --y:60%;
      }
      50% {
        --x:30%;
        --y:60%;
      }
      75% {
        --x:90%;
        --y:0%;
      }

      100% {
        --x:100%;
        --y:100%;
      }
    }

    @property --y {
      syntax: '<percentage>';
      inherits: false;
      initial-value: 0%;
    }

    @property --x {
      syntax: '<percentage>';
      inherits: false;
      initial-value: 0%;
    }


    .mask {
        /* -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); */
        /* mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); */

        /* background: rgb(253,253,253); */
        /* background: linear-gradient(180deg, rgba(253,253,253,0) 0%, rgba(0,0,0,1) 63%, rgba(0,0,0,1) 100%); */

        -webkit-mask-image: linear-gradient(180deg, rgb(255, 254, 254) 0%, rgba(254, 254, 254, 0) 70%, rgba(254,254,254,0) 100%);
        /* background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(254,254,254,0) 70%, rgba(254,254,254,0) 100%); */
    }

    .mask_light {
        /* -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); */
        /* mask-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)); */

        /* background: rgb(253,253,253); */
        /* background: linear-gradient(180deg, rgba(253,253,253,0) 0%, rgba(0,0,0,1) 63%, rgba(0,0,0,1) 100%); */

        -webkit-mask-image: linear-gradient(180deg, rgb(244, 9, 9) 0%, rgba(253,253,253,0) 80%, rgba(253,253,253,0) 100%);
        background: linear-gradient(180deg, rgb(240, 15, 15) 0%, rgba(253,253,253,0) 80%, rgba(253,253,253,0) 100%);
    }


      .circle_large {
        position: relative;
        --border-angle-large: 1turn;
        width: 50vmin;
        height: 50vmin;
      }
      
      .circle_large::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        padding: 3px; /* control the border thickness */
        background-image: conic-gradient(
            from var(--border-angle-small),
            rgba(239, 239, 239, 0.2) 50%,
            rgba(239, 239, 239, 0.2) 93%,
            #F7AB0A 99%,
            rgba(239, 239, 239, 0.2)
          );

        -webkit-mask: 
          linear-gradient(#fff 0 0) content-box, 
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude;
        pointer-events: none;



        animation: bg-spin 6s reverse linear infinite;
        @keyframes bg-spin {
          to {
            --border-angle-large: 0turn;
          }
        }
      }

      @property --border-angle-large {
        syntax: "<angle>";
        inherits: true;
        initial-value: 1turn;
      }


      .circle_large_light {
        position: relative;
        --border-angle-large: 1turn;
        width: 50vmin;
        height: 50vmin;
      }
      
      .circle_large_light::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        padding: 3px; /* control the border thickness */
        background-image: conic-gradient(
            from var(--border-angle-small),
            rgba(163, 163, 163, 0.3) 50%,
            rgba(163, 163, 163, 0.3) 93%,
            #F7AB0A 99%,
            rgba(163, 163, 163, 0.3)
          );

        -webkit-mask: 
          linear-gradient(#fff 0 0) content-box, 
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude;
        pointer-events: none;



        animation: bg-spin 6s reverse linear infinite;
        @keyframes bg-spin {
          to {
            --border-angle-large: 0turn;
          }
        }
      }

      @property --border-angle-large {
        syntax: "<angle>";
        inherits: true;
        initial-value: 1turn;
      }

      





      .circle_small {
        position: relative;
        --border-angle-small: 1turn;
        width: 50vmin;
        height: 50vmin;
        /* padding: 20px 30px; */
        /* display: inline-block; */
        /* font-size: 30px; */
      }
      
      .circle_small::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        padding: 4px; /* control the border thickness */
        background-image: conic-gradient(
            from var(--border-angle-small),
            rgba(239, 239, 239, 0.2) 6%,
            #F7AB0A 8%,
            rgba(239, 239, 239, 0.2) 15%,
            rgba(239, 239, 239, 0.2)

          );
        -webkit-mask: 
          linear-gradient(#fff 0 0) content-box, 
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude;
        pointer-events: none;



        animation: bg-spin 6s linear infinite;
        @keyframes bg-spin {
          to {
            --border-angle-small: 0turn;
          }
        }
      }

      @property --border-angle-small {
        syntax: "<angle>";
        inherits: true;
        initial-value: 1turn;
      }

      .circle_small_light {
        position: relative;
        --border-angle-small: 1turn;
        width: 50vmin;
        height: 50vmin;
        /* padding: 20px 30px; */
        /* display: inline-block; */
        /* font-size: 30px; */
      }
      
      .circle_small_light::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        padding: 4px; /* control the border thickness */
        background-image: conic-gradient(
            from var(--border-angle-small),
            rgba(163, 163, 163, 0.3) 6%,
            #F7AB0A 8%,
            rgba(163, 163, 163, 0.3) 15%,
            rgba(163, 163, 163, 0.3)

          );
        -webkit-mask: 
          linear-gradient(#fff 0 0) content-box, 
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude;
        pointer-events: none;



        animation: bg-spin 6s linear infinite;
        @keyframes bg-spin {
          to {
            --border-angle-small: 0turn;
          }
        }
      }

      @property --border-angle-small {
        syntax: "<angle>";
        inherits: true;
        initial-value: 1turn;
      }

      .circle_large_solid {
        position: relative;
        --border-angle-large_solid: 1turn;
        width: 50vmin;
        height: 50vmin;
        /* padding: 20px 30px; */
        /* display: inline-block; */
        /* font-size: 30px; */
      }
      
      .circle_large_solid::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        padding: 4px; /* control the border thickness */
        background-image: conic-gradient(
            from var(--border-angle-large-solid),
            rgba(247,171,10, 0.2) 6%,
            #F7AB0A 8%,
            rgba(247,171,10, 0.2) 15%,
            rgba(247,171,10, 0.2)

          );
        -webkit-mask: 
          linear-gradient(#fff 0 0) content-box, 
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude;
        pointer-events: none;


        animation: bg-spin2 6s linear infinite;
        @keyframes bg-spin2 {
          to {
            --border-angle-large-solid: 0turn;
          }
        }
      }

      @property --border-angle-large-solid {
        syntax: "<angle>";
        inherits: true;
        initial-value: 1turn;
      }

      .circle_large_rev {
        position: relative;
        --border-angle-large-rev: 0turn;
        width: 50vmin;
        height: 50vmin;
        /* padding: 20px 30px; */
        /* display: inline-block; */
        /* font-size: 30px; */
      }
      
      .circle_large_rev::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 50%;
        padding: 4px; /* control the border thickness */
        background-image: conic-gradient(
            from var(--border-angle-large-rev),
            rgba(247,171,10, 0.1) 6%,
            #F7AB0A 8%,
            rgba(247,171,10, 0.1) 15%,
            rgba(247,171,10, 0.1)

          );
        -webkit-mask: 
          linear-gradient(#fff 0 0) content-box, 
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
                mask-composite: exclude;
        pointer-events: none;


        animation: bg-spin-rev 6s linear infinite;
        @keyframes bg-spin-rev {
          to {
            --border-angle-large-rev: 1turn;
          }
        }
      }

      @property --border-angle-large-rev {
        syntax: "<angle>";
        inherits: true;
        initial-value: 0turn;
      }

      .crop {
        /* this will do the trick */
        -webkit-mask:
          linear-gradient(#000 0 0),
          linear-gradient(#000 0 0);
        -webkit-mask-clip: text, padding-box;
        -webkit-mask-composite: xor;
                mask-composite: exclude;
      }

      

      
      
      
}


